/* Apply styles to the body */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  
  /* Style the calculator container */
  .kalkulator {
    max-width: 400px; /* Set a maximum width for the calculator */
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  /* Style the form elements */
  .label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .bil1,
  .bil2,
  .pil {
    width: 50%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box; /* Include padding and border in the width calculation */
  }
  .tombol{
    width: 25%;
  }

  .button {
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
  }
  
  /* Style the result display */
  #hasil {
    font-weight: bold;
    font-size: 20px;
    color: #007BFF;
  }
  
  /* Responsive Styles */
  @media screen and (max-width: 600px) {
    .kalkulator {
      max-width: 90%;
      padding: 10px;
    }
  
    .bil1,
    .bil2,
    .pil,
    .tombol {
      padding: 5px;
    }
  }
  